<div class="container mx-auto py-12 px-4">
  <div class="text-center mb-8">
    <h1 class="text-4xl font-bold text-gray-800 mb-6">Contact Information</h1>
  </div>

  <div class="max-w-lg mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
    <div class="p-8 text-center">
      <h3 class="text-2xl font-semibold text-gray-800 mb-2">
        Alejandro Cortes</h3>
      <p class="text-gray-700">
        <strong>Email:</strong>
        <a href="mailto:your-email@example.com" class="text-blue-600
          hover:underline">alexcortes995@gmail.com</a>
      </p>
      <div class="mt-6">
        <h4 class="text-xl font-semibold text-gray-800">Find Me Online</h4>
        <div class="flex justify-center gap-8 mt-4">
          <a href="https://github.com/acortes8" target="_blank"
            class="text-blue-600 hover:underline px-4 py-2">
            GitHub
          </a>
          <a href="https://www.linkedin.com/in/acortes-chicago/" target="_blank"
            class=" text-blue-600 hover:underline px-4 py-2">
            LinkedIn
          </a>
        </div>
      </div>
    </div>

    <div class="bg-gray-50 p-6 border-t border-gray-200">
      <h4 class="text-xl font-semibold text-gray-800 text-center">
        About Me</h4>
      <p class="text-gray-700 text-sm mt-4 text-center">
        I am a passionate developer focusing on Ruby and Ruby On Rails.
        I graduated from Northeastern Illinois University with a B.S. in
        Computer Science. I enjoy learning about technologies at a deeper level,
        to grow a greater understanding of proper convention and
        design patterns. This web application was part of this, being a
        walkthrough project developed step-by-step throughout my reading of
        Agile Web Development with Rails 7, by Sam Ruby with Dave Thomas.
      </p>
    </div>
  </div>
</div>
