<div class="container mx-auto py-12 px-4">
  <div class="text-center mb-8">
    <h1 class="text-4xl font-bold text-gray-800 mb-6">Questions</h1>
  </div>

  <div class="max-w-lg mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
    <div class="p-8 text-center">
      <ul class="text-left text-gray-700 space-y-4">
        <li>
          <p class="font-semibold">Q1: Is this a real bookstore?</p>
          <p>A: Definitely not, it is just a mockup. The payment processor
            behind the scenes is not real either, so please do not submit real
            details if you submit an order. However, free feel to list your
            actual email if you want to submit an "order", and use made-up info
            for the rest. If you provide an actual email, the mailer will send
            you a mockup order confirmation.
          </p>
        </li>
        <li>
          <p class="font-semibold">
            Q2: Is there some form of customer support?
          </p>
          <p>A: Yes! You can email the account that sends you your order
            confirmation. This web application has a mailbox set up for support
            requests, with a UI that lists any connected orders and allows an
            admin to reply with rich text.
          </p>
        </li>
        <li>
          <p class="font-semibold">Q3: What did you learn from this project</p>
          <p>A: I picked up many things from developing this application. From
            how to work on a project start-to-finish through an iterative agile
            approach, to various design patterns, conventions, and best
            practices. I gained practice in maintaining and creating unit and
            integration tests, as well as creating fixtures for those tests. I
            learned about mailers and mailboxes, locales,
            docker, hotwire, sessions, creating users, managing secrets, and
            much more. The things I learned from this project were not limited
            to just working with Rails, but how Rails itself works behind the
            scenes as well.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>