<% if cart and not cart.line_items.empty? %>
  <div id="cart" class="bg-white rounded p-2 inline-block mb-4 mx-auto md:mx-0">
    <%= render cart %>
  </div>
<% else %>
  <div id="cart" class="inline-block mb-4 mx-auto md:mx-0"></div>
<% end %>